- name: localhost
  type: primary
  refresh: 604800
  serial: 1
  retry: 86400
  expire: 2419200
  ttl: 604800
  records:
    - name: "@"
      type: NS
      value: localhost.
    - name: "@"
      value: "127.0.0.1"
    - name: "@"
      type: AAAA
      value: "::1"   
- name: "127.in-addr.arpa"
  ttl: 604800
  type: primary
  soa: localhost
  records:
    - name: "@"
      type: NS
      value: localhost.
    - name: "1.0.0"
      type: PTR
      value: localhost.
- name: "0.in-addr.arpa"
  type: primary
  records:
    - name: "@"
      type: NS
      value: localhost.
- name: "255.in-addr.arpa"
  type: primary
  records:
    - name: "@"
      type: NS
      value: localhost.      
- name: loudwalrus.com
  type: primary
  ttl: 604800
  ns:
    - name: auto.loudwalrus.com
  records:
    - name: auto.loudwalrus.com
      value: "192.0.0.66"
    - name: boba.loudwalrus.com
      value: "127.0.0.67"
    - name: loop.loudwalrus.com
      value: "127.0.0.98"
{% for host in dns_list %}
{% if host.value.dns_ip is defined %}
    - name: {{ host.key }}
      value: {{ host.value.dns_ip }}
{% endif %}
{% endfor %}